<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibebes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section class="px-[60px]">
        <div class="py-[35px] flex justify-between items-center">
            <div class="flex items-center gap-3">
                <img class="w-[55px] h-[55px]" src="/assets/images/vibebeslogo.png" alt="">
                <h1 class="text-[34px] font-[500] text-green-800">Vibebes</h1>
            </div>
            <div class="flex justify-between font-[500] w-[35%]">
                <div>
                    <a href="#">Home</a>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div><a href="#">About Us</a></div>
                <div><a href="#">Projects</a></div>

                <div>
                    <a href="#">Pages</a>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <a href="#">Carrer</a>
            </div>
            <div>
                <div class="flex gap-[20px]">
                    <button class="bg-slate-300 font-[600] w-[77px] h-[36px] rounded-[20px]">
                        <a href="#">Login</a>
                    </button>
                    <button
                        class="flex items-center gap-2 px-[8px] py-[12px] bg-slate-400 font-[600] w-[122px] h-[40px] rounded-[20px]">
                        <a href="#">Let's Talk</a>
                        <img src="/assets/images/arrow-up-right-circle-fill.png" alt="">
                    </button>
                </div>
            </div>
        </div>
        <hr>

        <div class="py-[40px] flex justify-between ">
            <div class=" w-[49%]">
                <div class="flex gap-[5px] items-center">
                    <h2 class="text-[20px] font-[300]">We Are Creative Agency</h2>
                    <img class="w-[25px] h-[25px]" src="/assets/images/target.png" alt="">
                </div>
                <div class="py-[30px]">
                    <h1 class="text-[80px] font-[300] text-green-950 leading-[90px]">Digital agency creates the best
                        Experiance</h1>
                </div>
                <div>
                    <p class="text-[25px] font-[350] leading-[34px]">we blend creativity and and stratergy to craft
                        digital solutions that inspire, engages and drive sucess for your business, where innovation
                        meets strategy to digital solutions that inspire.</p>
                </div>
                <div class="pt-[40px] w-[85%] flex justify-between">
                    <div class="flex gap-[20px] ">
                        <button
                            class="flex items-center gap-2 py-[12px] px-[8px] bg-[#c5cecd] font-[600] h-[40px] rounded-[20px]">
                            <a href="#">Get Started</a>
                            <img src="/assets/images/arrow-up-right-circle-fill.png" alt="">
                        </button>
                        <button class="bg-slate-300 font-[600] w-[110px] h-[40px] rounded-[20px]">
                            <a href="#">Learn more</a>
                        </button>
                    </div>
                    <div>
                        <img class="w-[120px]" src="/assets/images/software-development.png" alt="">
                    </div>
                </div>
            </div>
            <div class="w-[49%]">
                <img class="w-full h-full object-cover" src="/assets/images/peoplework3.avif" alt="">
            </div>
        </div>
    </section>

    <section class="px-[60px] py-[90px]">
        <div class="flex">
            <div class="w-[49%] ">
                <img class="w-full h-[600px] object-cover" src="/assets/images/peoplew.avif" alt="">
            </div>
            <div class="w-[49%] px-[40px] flex flex-col justify-center">
                <div class="flex gap-2 items-center">
                    <div class="bg-[#f97316] w-[45px] h-[1px]"></div>
                    <h1 class="text-[#f97316] font-[500] text-[20px]">About US</h1>
                </div>
                <div>
                    <h1 class="text-[66px] py-[16px] leading-[81px] text-green-950">Why Work With Us And How We Work?
                    </h1>
                </div>
                <div>
                    <p class="text-[22px] font-[500] py-[12px]">Marketing online present and overall in digital world to
                        make awesome stratergy for startup businesses.</p>
                </div>
                <div class="flex flex-col pt-[12px] gap-[15px]">
                    <div class="flex items-center gap-2">
                        <i class="fa-regular fa-circle-check text-[30px]" style="color: #94a3b8;"></i>
                        <p class="text-[20px]">Fast and Easy to Help your Brand</p>
                    </div>
                    <div class="flex items-center gap-2">
                        <i class="fa-regular fa-circle-check text-[30px]" style="color: #94a3b8;"></i>
                        <p class="text-[20px]">Fast and Easy to Help your Brand</p>
                    </div>
                    <div class="flex items-center gap-2">
                        <i class="fa-regular fa-circle-check text-[30px]" style="color: #94a3b8;"></i>
                        <p class="text-[20px]">Fast and Easy to Help your Brand</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="px-[60px] py-[70px] bg-[#e2e8f0]">
        <div class="flex gap-2 items-center">
            <div class="bg-[#f97316] w-[45px] h-[1px]"></div>
            <h1 class="text-[#f97316] font-[500] text-[20px]">Services</h1>
        </div>
        <div>
            <h1 class="text-[60px] font-[500] text-[#052e16]">Explore Our Services</h1>
        </div>
        <div class="flex justify-between items-center pt-[16px]">
            <p class="text-[22px] text-[#052e16] font-[400] py-[12px]">Marketing online present and overall in digital
                world to make <br> awesome stratergy for startup businesses.</p>
            <button class="flex items-center gap-2 px-[9px] py-[6px] bg-[#c5cecd] h-[45px] font-[600] rounded-[20px]">
                <a href="#">Browse All Services</a>
                <img src="/assets/images/arrow-up-right-circle-fill.png" alt="">
            </button>
        </div>
        <div class="w-full h-[1px] bg-[#cbd5e1] mt-[40px]"></div>
        <div>
            <div class="flex justify-between py-[50px]">
                <p class="text-[26px] font-[500] text-[#052e16]">01</p>
                <h1 class="text-[35px] font-[500] text-[#052e16]">Product Design</h1>
                <p class="text-[22px]">We are commiting to finding solutions that drive <br> success for your brand.</p>
                <a href="#"><img class="w-[47px] h-[47px]" src="/assets/images/arrowtransparent.png" alt=""></a>
            </div>
            <div class="w-full h-[1px] bg-[#cbd5e1]"></div>
            <div class="flex justify-between py-[50px]">
                <p class="text-[26px] font-[500] text-[#052e16]">02</p>
                <h1 class="text-[35px] font-[500] text-[#052e16]">Web Development</h1>
                <p class="text-[22px]">We are commiting to finding solutions that drive <br> success for your brand.</p>
                <a href="#"><img class="w-[47px] h-[47px]" src="/assets/images/arrowtransparent.png" alt=""></a>
            </div>
            <div class="w-full h-[1px] bg-[#cbd5e1]"></div>
            <div class="flex justify-between py-[50px]">
                <p class="text-[26px] font-[500] text-[#052e16]">03</p>
                <h1 class="text-[35px] font-[500] text-[#052e16]">Digital Marketing</h1>
                <p class="text-[22px]">We are commiting to finding solutions that drive <br> success for your brand.</p>
                <a href="#"><img class="w-[47px] h-[47px]" src="/assets/images/arrowtransparent.png" alt=""></a>
            </div>
            <div class="w-full h-[1px] bg-[#cbd5e1]"></div>
            <div class="flex justify-between py-[50px]">
                <p class="text-[26px] font-[500] text-[#052e16]">04</p>
                <h1 class="text-[35px] font-[500] text-[#052e16]">Brand And Identity</h1>
                <p class="text-[22px]">We are commiting to finding solutions that drive <br> success for your brand.</p>
                <a href="#"><img class="w-[47px] h-[47px]" src="/assets/images/arrowtransparent.png" alt=""></a>
            </div>
            <div class="w-full h-[1px] bg-[#cbd5e1]"></div>
        </div>
    </section>

    <section class="px-[60px] py-[70px]">
        <div class="flex flex-col items-center text-center justify-center">
            <h1 class="text-[57px] font-[450] text-[#052e16]">Explore Our Work Flow</h1>
            <p class="text-[19px] font-[600] py-[22px]">A digital business agency is a company or organization that <br>
                specializes in providing services related to digital.</p>
        </div>
        <div class="flex justify-between gap-7 py-[45px] mt-[24px]">
            <div class="w-1/3">
                <h1 class="text-[52px] mb-[19px] font-[700] text-[#f97316]">01</h1>
                <hr>
                <h1 class="text-[35px] py-[25px] font-[500] text-[#052e16]">Project Breif</h1>
                <p class="text-[24px]">Clearly defines project requirements .We visualize entire user experiance
                    interaction achieving </p>
            </div>
            <div class="w-1/3">
                <h1 class="text-[52px] mb-[19px] font-[700] text-[#f97316]">02</h1>
                <hr>
                <h1 class="text-[35px] py-[25px] font-[500] text-[#052e16]">Project Stratergy</h1>
                <p class="text-[24px]">Clearly defines project requirements .We visualize entire user experiance
                    interaction achieving </p>
            </div>
            <div class="w-1/3">
                <h1 class="text-[52px] mb-[19px] font-[700] text-[#f97316]">03</h1>
                <hr>
                <h1 class="text-[35px] py-[25px] font-[500] text-[#052e16]">Final Output</h1>
                <p class="text-[24px]">Clearly defines project requirements .We visualize entire user experiance
                    interaction achieving </p>
            </div>
        </div>
    </section>

    <section class="px-[60px] py-[70px]">
        <div class="flex gap-2 items-center">
            <div class="bg-[#f97316] w-[45px] h-[1px]"></div>
            <h1 class="text-[#f97316] font-[500] text-[20px]">Projects</h1>
        </div>
        <div class="flex justify-between items-center">
            <h1 class="text-[60px] font-[500]  text-[#052e16]">Some of Our Creative Work</h1>
            <button class="flex items-center gap-2 px-[9px] py-[11px] bg-[#c5cecd] h-[45px] font-[600] rounded-[20px]">
                <a href="#">Explore more</a>
                <img src="/assets/images/arrow-up-right-circle-fill.png" alt="">
            </button>
        </div>
        <div class="flex gap-10 text-[20px] font-[500] py-[35px]">
            <a href="#">All</a>
            <a href="#">Dashboard</a>
            <a href="#">WebFlow</a>
            <a href="#">Branding</a>
            <a href="#">AppDesign</a>
        </div>
        <div class="flex justify-between">
            <div class="w-[48%]">
                <div class=" flex items-center rounded-xl justify-center  bg-slate-300">
                    <div class="">
                        <img class="w-full py-[36px] px-[20px] object-cover" src="/assets/images/mobileui.avif" alt="">

                    </div>
                </div>
                <div class="flex justify-between mt-[20px]">
                    <h1 class="text-[26px] font-[600]  text-[#052e16]">Podcast mobile App UI Kit</h1>
                    <button class="bg-slate-300 font-[600] px-[12px] py-[8px] rounded-[20px]">
                        <a href="#">App Design</a>
                    </button>
                </div>
            </div>

            <div class="w-[48%]">
                <div class=" h-[485px] flex items-center rounded-xl justify-center  bg-slate-300">
                    <div class="">
                        <img class="w-full py-[36px] px-[40px] object-cover" src="/assets/images/appagency.png" alt="">

                    </div>
                </div>
                <div class="flex justify-between mt-[20px]">
                    <h1 class="text-[26px] font-[600]  text-[#052e16]">Agency Website</h1>
                    <button class="bg-slate-300 font-[600] px-[12px] py-[8px] rounded-[20px]">
                        <a href="#">WebFLow</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="mt-[50px] flex justify-between">
            <div class="w-[48%]">
                <div class=" flex items-center rounded-xl justify-center  bg-slate-300">
                    <div class="">
                        <img class="w-full py-[36px] px-[20px] object-cover" src="/assets/images/mobileui2.avif" alt="">

                    </div>
                </div>
                <div class="flex justify-between mt-[20px]">
                    <h1 class="text-[26px] font-[600]  text-[#052e16]">Webflow Web Development</h1>
                    <button class="bg-slate-300 font-[600] px-[12px] py-[8px] rounded-[20px]">
                        <a href="#">App Design</a>
                    </button>
                </div>
            </div>

            <div class="w-[48%]">
                <div class=" flex items-center rounded-xl justify-center  bg-slate-300">
                    <div class="">
                        <img class="w-full py-[36px] px-[37px] object-cover" src="/assets/images/naturalbeauty.jpg"
                            alt="">

                    </div>
                </div>
                <div class="flex justify-between mt-[20px]">
                    <h1 class="text-[26px] font-[600]  text-[#052e16]">Natural Beauty Illustration</h1>
                    <button class="bg-slate-300 font-[600] px-[12px] py-[8px] rounded-[20px]">
                        <a href="#">App Design</a>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <div class="my-[40px] h-[160px] flex gap-[40px] justify-center items-center bg-[#052e16]">
        <img class="w-[100px]" src="/assets/images/asterisk.png" alt="">
        <h1 class="text-[70px] font-[500] text-[white]">Let's Work Together</h1>
        <img class="w-[100px]" src="/assets/images/asterisk2.png" alt="">
    </div>


    <section class="px-[60px] py-[70px]">
        <div class="flex justify-between">
            <div class="w-[49%]">
                <img class="w-full object-cover h-[650px]" src="/assets/images/team.webp" alt="">
            </div>
            <div class="w-[49%] flex flex-col justify-center">
                <h1 class="text-[67px] text-[#052e16] leading-[70px] font-[300]">Work Smarter Not Harder In Every Task.
                </h1>
                <p class="text-[22px] py-[40px]">Marketing Online Present and overall in digital world to make awesome
                    stratergy for startup businesses.</p>
                <div class="flex">
                    <div
                        class="w-[80px] mx-[20px] h-[60px] flex justify-center items-center rounded-[50px] bg-slate-300">
                        <img src="/assets/images/cheque.png" alt="">
                    </div>
                    <div>
                        <h1 class="text-[30px] font-[600] text-[#064e3b]">Flexible Working Schedule</h1>
                        <p class="text-[20px] mt-[12px]">Marketing Online present and overall in digital world to make
                            stratergies for startup Business.</p>
                    </div>
                </div>
                <div class="flex mt-[30px]">
                    <div
                        class="w-[80px] py-[10px] px-[10px] mx-[20px] h-[60px] flex justify-center items-center rounded-[50px] bg-slate-300">
                        <img src="/assets/images/king.png" alt="">
                    </div>
                    <div>
                        <h1 class="text-[30px] font-[600] text-[#064e3b]">Expert Team Member</h1>
                        <p class="text-[20px] mt-[12px]">We always think different business solutions for the your
                            business create growth solutions.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="px-[60px] py-[70px]">
        <div class="flex flex-col items-center text-center justify-center">
            <h1 class="text-[57px] font-[450] text-[#052e16]">Meet Our Awesome Team</h1>
            <p class="text-[19px] font-[600] py-[22px]">A digital business agency is a company or organization that <br>
                specializes in providing services related to digital.</p>
        </div>
        <div class="flex gap-8 py-[60px]">
            <div class="w-1/3 h-[480px]">
                <img class="w-full h-full object-cover" src="/assets/images/officemember1.jpg" alt="">
                <h1 class="text-[30px] font-[500] mt-[20px] text-[#052e16]">Jackob Anderson</h1>
                <p class="text-[20px]">Founder & CEO</p>
            </div>
            <div class="w-1/3 h-[480px]">
                <img class="w-full h-full object-cover" src="/assets/images/officemember2.webp" alt="">
                <h1 class="text-[30px] font-[500] mt-[20px] text-[#052e16]">Jasmine Rosa</h1>
                <p class="text-[20px]">Web Developer</p>
            </div>
            <div class="w-1/3 h-[480px]">
                <img class="w-full h-full object-cover" src="/assets/images/officemember3.avif" alt="">
                <h1 class="text-[30px] font-[500] mt-[20px] text-[#052e16]">Alex Richardson</h1>
                <p class="text-[20px]">Product Designer</p>
            </div>
        </div>
    </section>


    <section class="px-[60px] py-[70px] bg-slate-200">
        <div class="flex gap-2 justify-center items-center">
            <div class="bg-[#f97316] w-[45px] h-[1px]"></div>
            <h1 class="text-[#f97316] font-[500] text-[20px]">Testimonials</h1>
        </div>
        <div class="flex justify-center text-center">
            <h1 class="text-[55px] font-[400] text-[#052e16] leading-[66px] py-[34px]">What Our Client <br> Says About
                Us</h1>
        </div>

        <div class="flex gap-4">
            <div class="flex flex-col gap-3 w-1/3">
                <div class=" h-[380px] bg-[white] p-[30px]">
                    <img class="w-[100px]" src="/assets/images/star5.png" alt="">
                    <h1 class="text-[22px] text-[#052e16] font-[500] mb-[20px]">Great Value able startup Company </h1>
                    <p class="text-[19px]">Being an early adopter of Vibebes cutting edge technology has
                        revolutionalized
                        our business operations Their innovative Solutions have not only streamlined.</p>
                    <div class="flex items-center mt-[20px] gap-4">
                        <img class="w-[70px] h-[70px] object-cover rounded-[60px] "
                            src="/assets/images/officemember1.jpg" alt="">
                        <div>
                            <h1 class="text-[22px] font-[500] text-[#052e16]">Karen Lynn</h1>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>

                <div class="h-[380px] bg-[white] p-[30px]">
                    <img class="w-[100px]" src="/assets/images/star5.png" alt="">
                    <h1 class="text-[22px] text-[#052e16] font-[500] mb-[20px]">Great Value able startup Company </h1>
                    <p class="text-[19px]">Being an early adopter of Vibebes cutting edge technology has
                        revolutionalized
                        our business operations Their innovative Solutions have not only streamlined.</p>
                    <div class="flex items-center mt-[20px] gap-4">
                        <img class="w-[70px] h-[70px] object-cover rounded-[60px] "
                            src="/assets/images/testimonial4.jpg" alt="">
                        <div>
                            <h1 class="text-[22px] font-[500] text-[#052e16]">Ronald Richards</h1>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="flex flex-col gap-3 w-1/3">
                <div class=" bg-[white] p-[30px]">
                    <img class="w-[100px]" src="/assets/images/star5.png" alt="">
                    <h1 class="text-[22px] text-[#052e16] font-[500] mb-[20px]">Such A Wonderful Website</h1>
                    <p class="text-[19px]">Their agile stratergies and data-driven to approach have significently
                        boosted
                        our online presence their team's Creativity coupled with a torough understanding of market
                        dynamics
                        ,has exceed our expectations we look forward to the continued to the success together.</p>
                    <div class="flex items-center mt-[20px] gap-4">
                        <img class="w-[70px] h-[70px] object-cover rounded-[60px] "
                            src="/assets/images/officemember3.avif" alt="">
                        <div>
                            <h1 class="text-[22px] font-[500] text-[#052e16]">Dianee Russell</h1>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>

                <div class=" bg-[white] p-[30px]">
                    <img class="w-[100px]" src="/assets/images/star5.png" alt="">
                    <h1 class="text-[22px] text-[#052e16] font-[500] mb-[20px]">10/10 Would Recommended</h1>
                    <p class="text-[19px]">The Workouts are fun to do but still make you sweat! I'm So greatful for the
                        two of you for starting this amazing app</p>
                    <div class="flex items-center mt-[20px] gap-4">
                        <img class="w-[70px] h-[70px] object-cover rounded-[60px] "
                            src="/assets/images/testimonial2.jpg" alt="">
                        <div>
                            <h1 class="text-[22px] font-[500] text-[#052e16]">Christian Watson</h1>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-3 w-1/3">
                <div class="h-[355px] bg-[white] p-[30px]">
                    <img class="w-[100px]" src="/assets/images/star5.png" alt="">
                    <h1 class="text-[22px] text-[#052e16] font-[500] mb-[20px]">Love The homepages and tips</h1>
                    <p class="text-[19px]">Their powerful financial tools and tailored advice have streamlined our
                        accounting process and fullfilled our growth</p>
                    <div class="flex items-center mt-[20px] gap-4">
                        <img class="w-[70px] h-[70px] object-cover rounded-[60px] "
                            src="/assets/images/testimonial3.avif" alt="">
                        <div>
                            <h1 class="text-[22px] font-[500] text-[#052e16]">Marvin McKinney</h1>
                            <p>Marketing Officer</p>
                        </div>
                    </div>
                </div>
                <div class=" bg-[white] p-[30px]">
                    <img class="w-[100px]" src="/assets/images/star5.png" alt="">
                    <h1 class="text-[22px] text-[#052e16] font-[500] mb-[20px]">Awesome Experiance with Vibebes</h1>
                    <p class="text-[19px]">As someone who has not exercised for few year, it is great to be getting back
                        into it with such accessible with exercies and daily tips. Would recommend anyone whatever
                        fitness level the workouts are really fun and my family loving it too! Wonderful Job Guyzz!</p>
                    <div class="flex items-center mt-[20px] gap-4">
                        <img class="w-[70px] h-[70px] object-cover rounded-[60px] "
                            src="/assets/images/officemember1.jpg" alt="">
                        <div>
                            <h1 class="text-[22px] font-[500] text-[#052e16]">Karen Lynn</h1>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section class="px-[60px] py-[70px]">
        <div class="flex flex-col justify-center text-center">
            <h1 class="text-[60px] text-green-950">Choose A Pricing plans</h1>
            <p class="text-[20px] py-[20px]">We offer features and Services for businesses and individuals <br> with
                your unique
                needs in mind</p>
        </div>
        <div></div>
        <div class="flex justify-between gap-[25px] mt-[40px]">
            <div class="w-1/3 border-[1px] rounded-[30px] border-[#052e16]">
                <h1 class="text-[44px] text-green-950 font-[600] px-[30px] py-[35px]">Starter</h1>
                <div class="border-[1px] rounded-[30px] px-[30px] py-[15px] border-[#052e16]">
                    <h1 class="text-[85px] text-green-950 font-[600]">$200/<span class="text-[17px]">yearly</span></h1>
                    <p class="text-[26px] font-[600]">What's Included in plan:</p>
                    <div class="flex text-[#262626] flex-col gap-[20px] py-[22px]">
                        <div class="flex gap-3 items-center">
                            <i class="fa-regular fa-circle-check" style="color: #3d3d3d;"></i>
                            <p class="text-[22px]"> Economic Market Survey</p>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fa-regular fa-circle-check" style="color: #3d3d3d;"></i>
                            <p class="text-[22px]"> Economic Market Survey</p>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fa-regular fa-circle-check" style="color: #3d3d3d;"></i>
                            <p class="text-[22px]">All Financial tasks</p>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fa-regular fa-circle-check" style="color: #3d3d3d;"></i>
                            <p class="text-[22px]">Expanded features</p>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fa-regular fa-circle-check" style="color: #3d3d3d;"></i>
                            <p class="text-[22px]">24/7 Support</p>
                        </div>
                    </div>
                    <div>
                        <button class="border-[1px] my-[24px] border-green-800 w-full py-[15px] rounded-[30px]">
                            <a href="#" class="text-green-850 text-[20px]">Get Started</a>
                        </button>
                    </div>
                </div>
            </div>


            <div class="w-1/3 border-[1px] rounded-[30px] border-[#052e16]">
                <h1 class="text-[44px] text-green-950 font-[600] px-[30px] py-[35px]">Premium</h1>
                <div class="border-[1px] rounded-[30px] px-[30px] py-[15px] border-[#052e16]">
                    <h1 class="text-[85px] text-green-950 font-[600]">$350/<span class="text-[17px]">yearly</span>
                    </h1>
                    <p class="text-[26px] font-[600]">What's Included in plan:</p>
                    <div class="flex text-[#262626] flex-col gap-[20px] py-[22px]">
                        <div class="flex gap-3 items-center">
                            <i class="fa-regular fa-circle-check" style="color: #3d3d3d;"></i>
                            <p class="text-[22px]"> Economic Market Survey</p>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fa-regular fa-circle-check" style="color: #3d3d3d;"></i>
                            <p class="text-[22px]"> Economic Market Survey</p>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fa-regular fa-circle-check" style="color: #3d3d3d;"></i>
                            <p class="text-[22px]">All Financial tasks</p>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fa-regular fa-circle-check" style="color: #3d3d3d;"></i>
                            <p class="text-[22px]">Expanded features</p>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fa-regular fa-circle-check" style="color: #3d3d3d;"></i>
                            <p class="text-[22px]">24/7 Support</p>
                        </div>
                    </div>
                    <div>
                        <button class="border-[1px] my-[24px] border-green-800 w-full py-[15px] rounded-[30px]">
                            <a href="#" class="text-green-850 text-[20px]">Get Started</a>
                        </button>
                    </div>
                </div>
            </div>


            <div class="w-1/3 border-[1px] rounded-[30px] border-[#052e16]">
                <h1 class="text-[44px] text-green-950 font-[600] px-[30px] py-[35px]">Enterprise</h1>
                <div class="border-[1px] rounded-[30px] px-[30px] py-[15px] border-[#052e16]">
                    <h1 class="text-[85px] text-green-950 font-[600]">$500/<span class="text-[17px]">yearly</span>
                    </h1>
                    <p class="text-[26px] font-[600]">What's Included in plan:</p>
                    <div class="flex text-[#262626] flex-col gap-[20px] py-[22px]">
                        <div class="flex gap-3 items-center">
                            <i class="fa-regular fa-circle-check" style="color: #3d3d3d;"></i>
                            <p class="text-[22px]"> Economic Market Survey</p>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fa-regular fa-circle-check" style="color: #3d3d3d;"></i>
                            <p class="text-[22px]"> Economic Market Survey</p>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fa-regular fa-circle-check" style="color: #3d3d3d;"></i>
                            <p class="text-[22px]">All Financial tasks</p>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fa-regular fa-circle-check" style="color: #3d3d3d;"></i>
                            <p class="text-[22px]">Expanded features</p>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fa-regular fa-circle-check" style="color: #3d3d3d;"></i>
                            <p class="text-[22px]">24/7 Support</p>
                        </div>
                    </div>
                    <div>
                        <button class="border-[1px] my-[24px] border-green-800 w-full py-[15px] rounded-[30px]">
                            <a href="#" class="text-green-850 text-[20px]">Get Started</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="px-[60px] py-[70px]">
        <div class="flex gap-2 justify-center items-center">
            <div class="bg-[#f97316] w-[45px] h-[1px]"></div>
            <h1 class="text-[#f97316] font-[500] text-[20px]">Blogs and Articles</h1>
        </div>
        <div class="flex flex-col items-center text-center justify-center text-center">
            <h1 class="text-[55px] font-[400] text-[#052e16] leading-[66px] py-[30px]">Explore Our blog & Articles</h1>
            <p class="text-[20px] font-[500]">Discover the blog & article practices that make our agency <br> a Champion
                of diversity and equality</p>
        </div>

        <div class="flex gap-[30px] mt-[30px]">
            <div class="w-1/3 border-[1px] border-[#052e16]">
                <div class="p-[20px]">
                    <img src="/assets/images/peopletalking.avif" alt="">
                    <div>
                        <button
                            class="relative top-[-17.75rem] left-[20.5rem] bg-slate-200 py-[3px] px-[11px] rounded-[30px]">
                            technology
                        </button>
                    </div>
                    <div class="flex justify-between mt-[12px]">
                        <div class="flex gap-2 items-center">
                            <i class="fa-regular fa-user text-[20px]"></i>
                            <h4 class="text-[20px]">Jason Roy</h4>
                        </div>
                        <div class="flex gap-2 items-center">
                            <i class="fa-regular fa-calendar-minus text-[20px]"></i>
                            <h4 class="text-[20px]">November 12, 2024</h4>
                        </div>
                    </div>
                    <div class="py-[16px]">
                        <h1 class="text-[29px] font-[500] text-[#052e16]">How to build a Loyal Customer base for your
                            Startup?</h1>
                    </div>
                    <div class="flex gap-2 items-center">
                        <a href="#" class=" text-[17px] text-[#052e16]">Read more</a>
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </div>

                </div>

            </div>


            <div class="w-1/3 border-[1px] border-[#052e16]">
                <div class="p-[20px]">
                    <img src="/assets/images/startup.jpg" alt="">
                    <div>
                        <button
                            class="relative top-[-17.75rem] left-[20.5rem] bg-slate-200 py-[3px] px-[11px] rounded-[30px]">
                            startup
                        </button>
                    </div>
                    <div class="flex justify-between mt-[12px]">
                        <div class="flex gap-2 items-center">
                            <i class="fa-regular fa-user text-[20px]"></i>
                            <h4 class="text-[20px]">David neil</h4>
                        </div>
                        <div class="flex gap-2 items-center">
                            <i class="fa-regular fa-calendar-minus text-[20px]"></i>
                            <h4 class="text-[20px]">November 12, 2024</h4>
                        </div>
                    </div>
                    <div class="py-[16px]">
                        <h1 class="text-[27px] font-[500] text-[#052e16]">Measuring Successes: Key matrices Every
                            Startup should Track</h1>
                    </div>
                    <div class="flex gap-2 items-center">
                        <a href="#" class=" text-[17px] text-[#052e16]">Read more</a>
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </div>

                </div>

            </div>


            <div class="w-1/3 border-[1px] border-[#052e16]">
                <div class="p-[20px]">
                    <img class="h-full w-full " src="/assets/images/business2.jpg" alt="">
                    <div>
                        <button
                            class="relative top-[-17.75rem] left-[20.5rem] bg-slate-200 py-[3px] px-[11px] rounded-[30px]">
                            Business
                        </button>
                    </div>
                    <div class="flex justify-between mt-[12px]">
                        <div class="flex gap-2 items-center">
                            <i class="fa-regular fa-user text-[20px]"></i>
                            <h4 class="text-[20px]">David neil</h4>
                        </div>
                        <div class="flex gap-2 items-center">
                            <i class="fa-regular fa-calendar-minus text-[20px]"></i>
                            <h4 class="text-[20px]">November 12, 2024</h4>
                        </div>
                    </div>
                    <div class="py-[16px]">
                        <h1 class="text-[27px] font-[500] text-[#052e16]">Driving a transformational Shift in the
                            Industrial Metaverse</h1>
                    </div>
                    <div class="flex gap-2 items-center">
                        <a href="#" class=" text-[17px] text-[#052e16]">Read more</a>
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </div>

                </div>

            </div>
        </div>
    </section>


    <section class="bg-slate-300 px-[60px] py-[70px]">
        <div class="flex flex-col justify-center text-center">
            <h1 class="text-[55px] font-[500] text-[#1a2e05]">Do you want to Grow your <br> Business? Let's Chat! </h1>

            <div class="py-[20px]">
                <p class="text-[22px]">Discover the blog & Article practices that make our agency <br> a champion of
                    diversity and equality.</p>
            </div>
            <div class="flex justify-center gap-4 mt-[12px]">
                <input class="bg-slate-200 rounded-[30px] py-[12px] px-[18px] border-[1px]" type="text"
                    placeholder="Enter your email">
                <button class="bg-green-950 text-[white] rounded-[30px] py-[12px] px-[18px]">
                    <a href="#">Subscribe Now</a>
                </button>
            </div>
        </div>


    </section>



    <footer class=" px-[60px] py-[70px]">
        <div class="flex justify-between">
            <div class="w-[40%]">
                <div class="flex items-center gap-3">
                    <img class="w-[50px]" src="/assets/images/vibebeslogo.png" alt="">
                    <h1 class="text-[36px] font-[500] text-[#052e16]">Vibebes</h1>
                </div>
                <p class="text-[22px] mt-[16px]">join a Fostering comapny which is <br> big enough to support, small <br> enough
                    to care</p>
            </div>
            <div class="w-1/4 flex flex-col gap-[10px]">
                <h1 class="text-[25px] font-[500] text-[#052e16]">Pages</h1>
                <a href="#" ><p class="text-[20px]">Home</p></a>
                <a href="#"><p class="text-[20px]">About</p></a>
                <a href="#"><p class="text-[20px]">Service</p></a>
                <a href="#"><p class="text-[20px]">Blog</p></a>
                <a href="#"><p class="text-[20px]">Project</p></a>
                <a href="#"><p class="text-[20px]">Our team</p></a>
                <a href="#"><p class="text-[20px]">Sign in</p></a>
            </div>
            <div class="w-1/4 flex flex-col gap-[10px]">
                <h1 class="text-[25px] font-[500] text-[#052e16]">CMS Pages</h1>
                <a href="#" ><p class="text-[20px]">Blog Details</p></a>
                <a href="#"><p class="text-[20px]">Project Details</p></a>
                <a href="#"><p class="text-[20px]">Service Details</p></a>
                <a href="#"><p class="text-[20px]">Carrer Details</p></a>
                <a href="#"><p class="text-[20px]">Team Details</p></a>
                
            </div>
            <div class="w-1/4 flex flex-col gap-[10px]">
                <h1 class="text-[25px] font-[500] text-[#052e16]">Utility Pages</h1>
                <a href="#" ><p class="text-[20px]">Password Protected</p></a>
                <a href="#"><p class="text-[20px]">404 Not Found</p></a>
                <a href="#"><p class="text-[20px]">Style Guide</p></a>
                <a href="#"><p class="text-[20px]">Licences</p></a>
                <a href="#"><p class="text-[20px]">Changelog</p></a>
                
            </div>
        </div>


    </footer>
</body>

</html>